<plugin name='ala-charts' version='0.2.3' grailsVersion='2.0 &gt; *'>
  <author>Mark Woolston</author>
  <authorEmail>mark.woolston@csiro.au</authorEmail>
  <title>Ala Charts Plugin</title>
  <description>Adds javascript and images to support the ALA charts package.
</description>
  <documentation>http://grails.org/plugin/ala-charts</documentation>
  <type>AlaChartsGrailsPlugin</type>
  <resources>
    <resource>ChartsResources</resource>
    <resource>au.org.ala.charts.SampleController</resource>
  </resources>
  <repositories>
    <repository name='grailsCentral' url='http://plugins.grails.org' />
    <repository name='http://repo.grails.org/grails/plugins' url='http://repo.grails.org/grails/plugins/' />
    <repository name='http://repo.grails.org/grails/core' url='http://repo.grails.org/grails/core/' />
    <repository name='grailsCore' url='http://svn.codehaus.org/grails/trunk/grails-plugins' />
    <repository name='mavenCentral' url='http://repo1.maven.org/maven2/' />
  </repositories>
  <dependencies />
  <plugins />
  <runtimePluginRequirements />
  <behavior />
</plugin>